.clothes-card {
  box-sizing: border-box;
  position: relative;
  /* flex: 0 0 28%; */
  width: 20rem;
  height: 30rem;
  border: 1px solid black;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 1rem 2rem;
  transition: transform 0.3s ease-in-out;
}
/* .clothes-img-overlay {
  box-sizing: border-box;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0%;
  height: 0;
  width: 100%;
  transition: height 0.5s ease-in-out;
  padding: 1rem;
} */

.clothes-card:hover {
  transform: scale(1.05);
}

.clothes-card:hover .clothes-img-overlay {
  transform: rotateY(-180deg);
  height: 100%;
}
.clothes-img {
  position: absolute;
  top: 20%;
  height: 18rem;
  width: 16rem;
  z-index: 999;
  box-shadow: 0px 0px 14px -10px rgb(136, 136, 136);
  border-radius: 10px;
  padding: 1rem;
}
.price {
  position: absolute;
  top: 90%;
}
.hidden {
  display: none;
}
.icon-wish {
  position: absolute;
  box-sizing: border-box;

  height: 30px;
  width: 30px;
  top: 100%;
  right: 100%;

  transform: translateY(-150%) translateX(200%);
}
.icon-add-cart {
  position: absolute;
  top: 100%;
  transform: translateX(-200%) translateY(-150%);
  height: 30px;
  width: 30px;
  left: 100%;
}
.icon-clothes {
  /* padding: 1rem; */
  transition: opacity 0.3s ease-in-out;
}
.icon-clothes:hover {
  opacity: 0.5;
}
